body {
    text-align: center;
}
h1 {
    color: rgb(172, 79, 79);
}

#display_image{
    width: 400px;
    height: 225px;
    border: 1px solid black;
    background-position: center;
    background-size: cover;
    margin: auto;
  }